.search-bar{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 5px;
    .search-form{
        width: inherit;
        display: inline-flex;
        .search{
            label{
                margin-right: 5px;
            }
            input{
                width: 70%;
                display: inline;
            }
            width: 25%;
        }
    }
}