<ng-container class="information-part">
  <div class="information" >
      <div class="container">
        <div class="card" *ngIf="object.maxArrayPanelsCount">
          <div class="card-body">
            <h5 class="card-title">
              <img src="/assets/panel-solar-icon.svg" class="icon-title"/>
              Max Panels Count:
            </h5>
            <div class="card-text">
              {{object.maxArrayPanelsCount}}
            </div>
          </div>
        </div>
        <solar-panel [solarPanel]="object.solarPanel"></solar-panel>
      </div>
  </div>
</ng-container>