<main class="main">
  <div class="content">
    <address-search (searchEventEmit)="searchAddress($event)"></address-search>
    <segment-index [segmentIndexes]="segmentIndexes" (segmentFilterEventEmit)="segmentFilter($event)"></segment-index>
    <div class="main-content">
      <map [mapCenter]="center" 
      [options]="options" 
      [boundingBoxes]="boundingBoxes" [solarPanels]="solarPanels"
      (panelClickEmitter)="panelClick($event)"></map>
      <solar-building-information [object]="object"></solar-building-information>
    </div>
  </div>
</main>
<router-outlet />
