<main class="main">
  <div class="content">
      <map 
      [mapCenter]="center"
      [options]="options" 
      [solarPanels]="solarPanels"
      [boundingBoxes]="boundingBoxes"></map>
    <div class="main-content">
      <address-search (searchEventEmit)="searchAddress($event)"></address-search>
      <segment-index [segmentIndexes]="segmentIndexes" (segmentFilterEventEmit)="segmentFilter($event)"></segment-index>
      <solar-building-information [object]="object"></solar-building-information>
    </div>
  </div>
</main>
<router-outlet />
